@use "./variables" as *;
@use "./mixins" as *;

.aboutPage {

display: flex;
flex-direction: column;

    &__title {
        display: flex;

        @include mobile {
            padding: 24px 16px 16px 16px;
            @include fontstyle(24px, 32px, 700);
        }
    
        @include tablet {
            padding: 48px 36px 36px 36px;
            @include fontstyle(60px, 68px, 700);

        }

        @include desktop {
            padding: 48px 36px 36px 36px;
            @include fontstyle(60px, 68px, 700);
        }

    }

    &__cover {

        // // box-sizing: border-box;
        // width: auto;
        // height: auto;

        @include mobile {
            padding: 0px 16px 16px 16px;
        }
    
        @include tablet {
         
            padding: 0px 32px 32px 32px;
        }

        @include desktop {

            padding: 0px 32px 32px 32px;  
        }

    }

    &__quote{

        @include mobile {
            padding: 0px 16px 16px 16px;
            @include fontstyle(24px, 22px, 600)
        }
    
        @include tablet {
         
            padding: 0px 32px 32px 32px;
            @include fontstyle(24px, 32px, 400)
        }

        @include desktop {

            padding: 0px 32px 32px 32px;  
            @include fontstyle(24px, 32px, 400)
        }

    }

}


.biography {

display: flex;
flex-direction: column;

    &__title {
        display: flex;
        @include mobile {
            padding: 16px 16px 16px 16px;
            @include fontstyle(24px, 32px, 600)
        }
    
        @include tablet {
         
            padding: 0px 32px 32px 32px;
            @include fontstyle(24px, 32px, 600)
        }

        @include desktop {

            padding: 0px 32px 32px 32px;  
            @include fontstyle(24px, 32px, 600)
        }
    }   
    
    &__content {
        display: flex;

        @include mobile {
            padding: 0px 16px 16px 16px;
            @include fontstyle(13px, 18px, 400)
        }
    
        @include tablet {
         
            padding: 0px 32px 32px 32px;
            @include fontstyle(24px, 32px, 400)
        }

        @include desktop {

            padding: 0px 32px 32px 32px;  
            @include fontstyle(24px, 32px, 400)
        }

    }

}

