@use "./variables" as *;
@use "./mixins" as *;


.footer {
    &__container {

        padding: 3rem;
        background-color: $BandSite-Black;
    }

    &__header {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

    
        
        @include tablet {
            padding-bottom: 1rem;
            flex-direction: row;
        }

        @include desktop {
            padding-bottom: 1rem;
            flex-direction: row;
            width:100%
        }

    }

    &__logos {
        display: none;

        @include tablet {
            margin-left: auto;
            display: flex;
        }

        @include desktop {
            margin-left: auto;
            display: flex;
        }

    }
    
    &__icons {

        display: flex;
        

        &--img {

            padding-right:2rem;
            padding-top:1rem;

            @include tablet {
                padding-left: 2rem;
                padding-top:0rem;
            }

            @include desktop {
                padding-left: 2rem;
                padding-top:0rem;
            }

   
    }

    }


    &__company {
        display: flex;
        width: 100%;
        flex-direction: column;


        @include tablet {
            flex-direction: row;

        }
        
        @include tablet {
            flex-direction: row;

        }

    }



    &__line {
        display: flex;
        flex-direction: column;
        width: 20rem;
        @include fontstyle (12px, 20px, 100);
        color: $White;
        padding-bottom: 1rem;

        &--people {
            @include fontstyle (14px, 20px, bold);
        }

    }

    &__info {
        display: flex;

        &--email {
            text-decoration:none;
            color: white;
            }
        
        }




    &__spacing {
        padding-top: 1rem;
        }


    &__top {
        display: flex;
        flex-direction: row;

        @include mobile {
            padding: 24px 16px 16px 16px;
        }

        @include tablet {
            // padding: 48px 36px 36px 36px;
        }

        @include desktop {
            padding: 48px 36px 36px 36px;
        }
    }

    &__title {
        display:flex;
        color: $White;
        @include fontstyle (24px, 32px, 700);

    }

}

    .copyright {

        display: flex;
        width: 100%;
        align-items: center;

        &__text {

            display: flex;
            color: $White;

            @include mobile {

                @include fontstyle (13px, 18px, 100);
            }

            @include tablet {
                @include fontstyle (14px, 20px, 100);

            }

            @include desktop {
                @include fontstyle (14px, 20px, 100);

            }
        }

    }
