@use "./variables" as *;
@use "./mixins" as *;


.heroPage {
    background-image: url("../assets/images/hero-bio.jpg");
    display: flex;  
    align-items: center;
    // height: 20rem;
    background-size: cover;
    background-repeat: none;
    height: 40rem;
    background-color: ($BandSite-Black,0.5);
    

    
                                                                                                                                                                                                         ;
    
    @include mobile {
        margin-top:6.5rem;
    }

    @include tablet {
        margin-top:3rem;

    }

    @include desktop {
        margin-top:3rem;
    }


    // &__cover {
    //         width: 100vw;
    //         z-index: 1;
    //         position: relative;
    
    //     }


    &__title {

        display: flex;
        color: white;

        @include mobile {
            @include fontstyle(24px, 32px, 700);
            padding-left:24px;
        }
    
        @include tablet {
            @include fontstyle(36px, 44px, 700);
            padding-left: 36px;
        }

        @include desktop {
            @include fontstyle(36px, 44px, 700);
            padding-left: 36px;
        }
    }

}