@font-face {
  font-family: "Avenir-Next";
  src: url("../assets/fonts/avenir-next-bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../assets/fonts/avenir-next-regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../assets/fonts/avenir-next-demi.woff") format("woff");
  font-weight: 600;
}
.pageHeader-list {
  background-color: #323232;
  font-family: Avenir-Next;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  z-index: 3;
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageHeader-list {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pageHeader-list {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .pageHeader-list {
    display: flex;
    align-items: center;
  }
}
.pageHeader-list__logo {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageHeader-list__logo {
    padding: 0px 36px 0px 36px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pageHeader-list__logo {
    padding: 0px 36px 0px 36px;
  }
}
@media (min-width: 1280px) {
  .pageHeader-list__logo {
    padding: 0px 36px 0px 36px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageHeader-list__nav {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pageHeader-list__nav {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .pageHeader-list__nav {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageHeader-list__nav--items:active, .pageHeader-list__nav--items:hover {
    border-bottom: 3px solid white;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageHeader-list__nav--items {
    padding: 24px 16px 16px 16px;
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pageHeader-list__nav--items {
    padding: 0px 36px 0px 36px;
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .pageHeader-list__nav--items {
    padding: 0px 36px 0px 36px;
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.pageHeader-list__nav--link {
  text-decoration: none;
  color: #E1E1E1;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageHeader-list__nav--link {
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pageHeader-list__nav--link {
    padding: 24px 0px 16px 0px;
  }
}
@media (min-width: 1280px) {
  .pageHeader-list__nav--link {
    padding: 24px 0px 16px 0px;
  }
}
.pageHeader-list__nav--link:active, .pageHeader-list__nav--link:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pageHeader-list__nav--link:active, .pageHeader-list__nav--link:hover {
    border-bottom: 3px solid white;
  }
}
@media (min-width: 1280px) {
  .pageHeader-list__nav--link:active, .pageHeader-list__nav--link:hover {
    border-bottom: 3px solid white;
  }
}

.heroPage {
  background-image: url("../assets/images/hero-bio.jpg");
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: none;
  height: 40rem;
  background-color: #323232, 0.5;
}
@media (min-width: 0px) and (max-width: 767px) {
  .heroPage {
    margin-top: 6.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .heroPage {
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .heroPage {
    margin-top: 3rem;
  }
}
.heroPage__title {
  display: flex;
  color: white;
}
@media (min-width: 0px) and (max-width: 767px) {
  .heroPage__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding-left: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .heroPage__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 36px;
  }
}
@media (min-width: 1280px) {
  .heroPage__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 36px;
  }
}

.heroPage__shows {
  background-image: url("../assets/images/hero-shows.jpg");
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: none;
  height: 40rem;
  background-color: #323232, 0.5;
}
@media (min-width: 0px) and (max-width: 767px) {
  .heroPage__shows {
    margin-top: 6.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .heroPage__shows {
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .heroPage__shows {
    margin-top: 3rem;
  }
}

.album {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.album__title {
  color: white;
  margin-top: 1rem;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .album__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .album__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
.album__title--singer {
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .album__title--singer {
    font-size: 36px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .album__title--singer {
    font-size: 36px;
    line-height: 32px;
    font-weight: 700;
  }
}

.soundcloud {
  padding: 2rem;
  justify-content: center;
  width: 100%;
}

.aboutPage {
  display: flex;
  flex-direction: column;
}
.aboutPage__title {
  display: flex;
}
@media (min-width: 0px) and (max-width: 767px) {
  .aboutPage__title {
    padding: 24px 16px 16px 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .aboutPage__title {
    padding: 48px 36px 36px 36px;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .aboutPage__title {
    padding: 48px 36px 36px 36px;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .aboutPage__cover {
    padding: 0px 16px 16px 16px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .aboutPage__cover {
    padding: 0px 32px 32px 32px;
  }
}
@media (min-width: 1280px) {
  .aboutPage__cover {
    padding: 0px 32px 32px 32px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .aboutPage__quote {
    padding: 0px 16px 16px 16px;
    font-size: 24px;
    line-height: 22px;
    font-weight: 600;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .aboutPage__quote {
    padding: 0px 32px 32px 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .aboutPage__quote {
    padding: 0px 32px 32px 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }
}

.biography {
  display: flex;
  flex-direction: column;
}
.biography__title {
  display: flex;
}
@media (min-width: 0px) and (max-width: 767px) {
  .biography__title {
    padding: 16px 16px 16px 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__title {
    padding: 0px 32px 32px 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .biography__title {
    padding: 0px 32px 32px 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.biography__content {
  display: flex;
}
@media (min-width: 0px) and (max-width: 767px) {
  .biography__content {
    padding: 0px 16px 16px 16px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__content {
    padding: 0px 32px 32px 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .biography__content {
    padding: 0px 32px 32px 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }
}

.title {
  background-color: #FAFAFA;
}
@media (min-width: 0px) and (max-width: 767px) {
  .title {
    padding: 24px 16px 16px 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .title {
    padding: 48px 36px 36px 36px;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .title {
    padding: 48px 36px 36px 36px;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .gallery__container {
    padding: 0 16px 20px 16px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__container {
    padding: 0 36px 20px 36px;
  }
}
@media (min-width: 1280px) {
  .gallery__container {
    padding: 0 36px 20px 36px;
  }
}

.gallery {
  display: grid;
  background-color: #FAFAFA;
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery__photo {
    flex: 1 0 auto;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__photo {
    flex: 1 0 auto;
    max-width: 100%;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    flex: 1 0 auto;
    max-width: 100%;
  }
}

.footer__container {
  padding: 3rem;
  background-color: #323232;
  width: 100%;
}
.footer__header {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__header {
    padding-bottom: 1rem;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .footer__header {
    padding-bottom: 1rem;
    flex-direction: row;
    width: 100%;
  }
}
.footer__logos {
  display: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logos {
    margin-left: auto;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .footer__logos {
    margin-left: auto;
    display: flex;
  }
}
.footer__icons {
  display: flex;
}
.footer__icons--img {
  padding-right: 2rem;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__icons--img {
    padding-left: 2rem;
    padding-top: 0rem;
  }
}
@media (min-width: 1280px) {
  .footer__icons--img {
    padding-left: 2rem;
    padding-top: 0rem;
  }
}
.footer__company {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__company {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .footer__company {
    flex-direction: row;
  }
}
.footer__line {
  display: flex;
  flex-direction: column;
  width: 20rem;
  font-size: 12px;
  line-height: 20px;
  font-weight: 100;
  color: #FFFFFF;
  padding-bottom: 1rem;
}
.footer__line--people {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.footer__info {
  display: flex;
}
.footer__info--email {
  text-decoration: none;
  color: white;
}
.footer__spacing {
  padding-top: 1rem;
}
.footer__top {
  display: flex;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer__top {
    padding: 24px 16px 16px 16px;
  }
}
@media (min-width: 1280px) {
  .footer__top {
    padding: 48px 36px 36px 36px;
  }
}
.footer__title {
  display: flex;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.copyright {
  display: flex;
  width: 100%;
  align-items: center;
}
.copyright__text {
  display: flex;
  color: #FFFFFF;
}
@media (min-width: 0px) and (max-width: 767px) {
  .copyright__text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 100;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .copyright__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
  }
}
@media (min-width: 1280px) {
  .copyright__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Avenir-Next;
  font-size: 16px;
}

.comment_title {
  background-color: white;
}
.comment_box {
  padding: 1rem;
}
.comment_container {
  display: flex;
  padding: 1rem 3rem 1rem 3rem;
  align-items: center;
}
.comment_avatar {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment_avatar--circle {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment_avatar--circle {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .comment_avatar--circle {
    width: 3rem;
    height: 3rem;
  }
}
.comment_avatar--blank {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #E1E1E1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment_avatar--blank {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .comment_avatar--blank {
    width: 3rem;
    height: 3rem;
  }
}

.comment_element {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment_element__label {
  color: #AFAFAF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.comment_element__input {
  display: flex;
  width: 100%;
  align-items: start;
  padding: 1rem;
  border-radius: 0.5rem;
  border-color: 1px solid #E1E1E1;
}
.comment_element__input:active {
  border-color: 1px solid #323232;
}
.comment_element__input.error {
  border-color: 1px solid #D22D2D;
}
.comment_element__input--height {
  height: 10rem;
}

.comment_button_container {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment_button_container {
    justify-content: end;
  }
}
@media (min-width: 1280px) {
  .comment_button_container {
    justify-content: end;
  }
}
.comment_button_container--format {
  background-color: #323232;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  font-weight: 500px;
  border-radius: 4px;
}
.comment_button_container--format:hover {
  cursor: grab;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment_button_container--format {
    width: 150px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1280px) {
  .comment_button_container--format {
    width: 150px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.submitted_container {
  border-top: 1px solid #E1E1E1;
  padding: 2rem;
  display: flex;
  align-items: center;
}
.submitted_img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #E1E1E1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .submitted_img {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .submitted_img {
    width: 3rem;
    height: 3rem;
  }
}
.submitted_name {
  margin-left: 1rem;
}
.submitted_date {
  margin-left: auto;
}
.submitted_containerBottom {
  padding: 2rem;
  display: flex;
}
.submitted_name {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .submitted_name {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
  }
}
@media (min-width: 1280px) {
  .submitted_name {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
  }
}
.submitted_date {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  color: #AFAFAF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .submitted_date {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
  }
}
@media (min-width: 1280px) {
  .submitted_date {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
  }
}

.placeholder {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .placeholder {
    width: 4rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .placeholder {
    width: 4rem;
    height: 3rem;
  }
}

.showTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .showTitle {
    font-size: 36px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .showTitle {
    font-size: 36px;
    line-height: 32px;
    font-weight: 600;
  }
}
.showTitle_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem;
}

#concertsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.header-row {
  color: #AFAFAF;
  display: flex;
  align-items: center;
  padding: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header-row {
    padding: 24px 18px 24px 28px;
  }
}
@media (min-width: 1280px) {
  .header-row {
    padding: 24px 18px 24px 28px;
  }
}

.concert-row {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .concert-row {
    padding: 24px 18px 24px 28px;
  }
}
@media (min-width: 1280px) {
  .concert-row {
    padding: 24px 18px 24px 28px;
  }
}

.concert-row:hover {
  background-color: #FAFAFA;
}

.selected {
  background-color: #E1E1E1;
}

.boldDate {
  font-weight: bold;
  width: 15rem;
}

.header-cell,
.cell {
  width: 15rem;
}

.header-cell {
  font-weight: bold;
}

.buy-tickets-button {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  width: 175px;
  height: 40px;
  border-radius: 4px;
  font-weight: 500;
}/*# sourceMappingURL=bio.css.map */