
@use "./partials/header" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/hero" as *;
@use "./partials/biography" as *;
@use "./partials/gallery" as *;
@use "./partials/footer" as *;

* {
    box-sizing: border-box;

margin: 0;
font-family: Avenir-Next;
// border: 1px solid red;

}